extends base-email

block content
  .container
    h2 Welcome to Delta!
    p Hi #{name},
    p Thank you for signing up. Please use the following OTP code to verify your account:
    .otp-code #{otp}
    p This code will expire in 1 minute.
    p If you didn't request this verification, please ignore this email.
    .footer
      p This is an automated message, please do not reply.
      p &copy; #{new Date().getFullYear()} Delta. All rights reserved.